<%- include("header.ejs") -%> 

<h2>This is the about page</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus tempore aut fugiat nesciunt culpa quia! Tenetur voluptate ratione voluptas corrupti magnam accusantium voluptatibus, maxime odio neque architecto, id ex. Minima.</p>

<%- include("footer.ejs") -%> 